*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */

    }


body {
    background-color: gray;
    background-image: url('assets/background.png');
    background-repeat: no-repeat;
    overflow: hidden;
}
/* the main container */

/* a responsive grid for mobile */
/* this code will be used when the screen size is 1200 pixels or less */
@media screen and (max-width: 1200px) {
  body{
   transform-origin: top;
   transform: scale(1.5);
   margin:0 auto;
  }
 
   }

.front-side{
  width: 254px;
  height: 441px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* adjust this to space out the cards */
  margin: 0px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:rgb(255, 255, 255);
  border-radius: 30px;

}

/* .front-side{
} */

.name{
  display: grid;
  position: relative;
  margin-left:30px;
  padding: 10px

}

.secondary{
  display: grid;
  position: relative;
  margin-left:30px;

}

/* .circle{
  background-image: url("/assets/circle.svg");
  grid-area: a;
} */


h1{
  margin-bottom: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 50px;
  position: relative; top: 40px;
  color: #27a59c;
  
}

h2{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 200;
  text-align: center;
  position: relative; top: 40px;
  color: #027691;
} 

h3{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  position: relative; top: 214px;
}


a:link, a:visited {
  color: #0b8577;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 151, 206);
}

.particles {
    animation-name: particle-move;
    animation-duration: 20s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes particle-move {
  from {
    position: absolute; top: 20px;
    
  }

  to {
    position: absolute; top: 200px
  }
}